$primary: #c39a6b;
$secondary: #c4c4c4;
$third: #8ab1c4;

$gray: #f9f9f9;
$gray-dark: #c7c7c7;
$gray-darker: #bbb9b6;
$yellow: #efcd49;
$green: #7ed221;
$red: #cc2f42;
$red-dark: #cd1c04;
$text-color: #545454;
